{% load date_time %}
{% load build_url %}

<div id="messages-list">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Идентификатор сообщения</th>
        <th scope="col">Текст</th>
        <th scope="col">Отправлено от</th>
        <th scope="col">Время отправки/получения</th>
      </tr>
    </thead>
    <tbody>
      {% for message in page.object_list %}
        <tr>
          <th scope="row">{{ message.message_id }}</th>
          <th>{{ message.message_json.text | truncatechars:100 }}</th>
          <th>{{ message.message_json.from.id }}</th>
          <th>{{ message.message_json.date|timestamp_to_time|date:"d M Y" }}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "main/pagination.html" %}
</div>
