{% load build_url %}
<div class="pagination-container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page.has_previous %}
        <li class="page-item">
          <a class="page-link"
             hx-get="{% add_page_param request 1 %}"
             href="?page=1"
             hx-target="#{{ target_id }}"
             hx-swap="outerHTML"
             hx-replace-url="{% add_page_param request 1 %}">⇤</a>
        </li>
        <li class="page-item">
          <a class="page-link"
             hx-get="{% add_page_param request page.previous_page_number %}"
             href="{% add_page_param request page.previous_page_number %}"
             hx-target="#{{ target_id }}"
             hx-swap="outerHTML"
             hx-replace-url="{% add_page_param request page.previous_page_number %}">«</a>
        </li>
      {% endif %}
      {% for num in page.paginator.page_range %}
        {% if num == page.number %}
          <li class="page-item">
            <a class="page-link active"
               hx-get="{% add_page_param request num %}"
               hx-target="#{{ target_id }}"
               hx-replace-url="{% add_page_param request num %}"
               hx-swap="outerHTML"
               href="{% add_page_param request num %}">{{ num }}</a>
          </li>
        {% elif num > page.number|add:"-3" and num < page.number|add:"3" %}
          <li class="page-item">
            <a class="page-link"
               hx-get="{% add_page_param request num %}"
               hx-target="#{{ target_id }}"
               hx-replace-url="{% add_page_param request num %}"
               hx-swap="outerHTML"
               href="{% add_page_param request num %}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page.has_next %}
        <li class="page-item">
          <a class="page-link"
             hx-get="{% add_page_param request page.next_page_number %}"
             hx-target="#{{ target_id }}"
             hx-replace-url="{% add_page_param request page.next_page_number %}"
             hx-swap="outerHTML"
             href="{% add_page_param request page.next_page_number %}">»</a>
        </li>
        <li class="page-item">
          <a class="page-link"
             href="{% add_page_param request paginator.num_pages %}"
             hx-get="{% add_page_param request paginator.num_pages %}"
             hx-swap="outerHTML"
             hx-target="#{{ target_id }}"
             hx-replace-url="{% add_page_param request paginator.num_pages %}">⇥</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <div>
